{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cumque 
        asperiores omnis quia ex. Quod non quas ducimus iure voluptatibus, 
        delectus nobis aliquid consequatur harum voluptate illum possimus 
        soluta aspernatur hic, suscipit eaque accusantium. Impedit officiis 
        similique possimus magnam assumenda ab qui saepe, aut fugiat minus 
        cum asperiores. Ut eaque, aliquid delectus fugit assumenda totam aut 
        tempora tempore facere voluptas? Maiores dolor id sed tenetur voluptatem 
        quia exercitationem distinctio molestiae dicta ex ut tempora neque 
        corrupti ipsa perspiciatis fugiat, quaerat sit, expedita doloremque 
        nobis perferendis suscipit ratione commodi! Quia qui repellendus 
        dicta quaerat? Aliquid numquam ipsum explicabo consectetur, 
        quis officiis?</p>

        <div >
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}